<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hxzs.hxzs">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name="com.hxzs.mall.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hxzs.mall.activity.GuidanceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hxzs.mall.activity.MainActivity">
        </activity>
        <activity android:name="com.hxzs.mall.fragment.homefragment.activity.WebViewActivity">
        </activity>
        <activity android:name="com.hxzs.mall.fragment.homefragment.activity.ParticularsActivity">
        </activity>
    </application>

</manifest>